:root {
  --background: var(--gray-1);
  --foreground: var(--gray-9);

  --primary: var(--blue-9);
  --primary-foreground: var(--gray-1);

  --secondary: var(--gray-2);
  --secondary-foreground: var(--gray-9);

  --destructive: var(--red-9);
  --success: var(--green-9);
  --muted: var(--gray-3);
  --muted-foreground: var(--gray-8);
}
