:root {
  @theme inline {
    --background: var(--gray-50);
    --foreground: var(--gray-900);
    --border: var(--gray-200);
    --input: var(--gray-200);
    --muted: var(--gray-100);
    --muted-foreground: var(--gray-600);

    --accent: var(--secondary-100);
    --accent-foreground: var(--primary);
  }
}
