:root {
  --primary-50: oklch(0.97 0.03 250);
  --primary-100: oklch(0.85 0.06 255);
  --primary-200: oklch(0.75 0.08 258);
  --primary-300: oklch(0.65 0.1 260);
  --primary-400: oklch(0.6 0.12 263);
  --primary-500: oklch(0.56 0.13 265);
  --primary-600: oklch(0.45 0.12 265);
  --primary-700: oklch(0.36 0.09 265);
  --primary-800: oklch(0.28 0.07 265);
  --primary-900: oklch(0.21 0.05 265);

  --secondary-50: oklch(0.98 0.005 247);
  --secondary-100: oklch(0.968 0.007 247.896);
  --secondary-200: oklch(0.929 0.013 255.508);
  --secondary-300: oklch(0.85 0.02 260);
  --secondary-400: oklch(0.75 0.03 263);
  --secondary-500: oklch(0.65 0.04 265);
  --secondary-600: oklch(0.55 0.05 265);
  --secondary-700: oklch(0.45 0.06 265);
  --secondary-800: oklch(0.36 0.07 265);
  --secondary-900: oklch(0.25 0.07 265);

  --gray-50: #f1f5f9;
  --gray-100: oklch(0.968 0.007 247.896);
  --gray-200: oklch(0.929 0.013 255.508);
  --gray-300: oklch(0.85 0.02 260);
  --gray-400: oklch(0.75 0.03 263);
  --gray-500: oklch(0.65 0.04 265);
  --gray-600: oklch(0.554 0.046 257.417);
  --gray-700: oklch(0.45 0.05 265);
  --gray-800: oklch(0.28 0.04 265);
  --gray-900: oklch(0.129 0.042 264.695);

  --green-50: oklch(0.9 0.1 145);
  --green-100: oklch(0.8 0.15 145);
  --green-200: oklch(0.7 0.18 145);
  --green-300: oklch(0.65 0.22 145);
  --green-400: oklch(0.55 0.22 145);
  --green-500: oklch(0.45 0.2 145);

  --red-50: oklch(0.9 0.18 27);
  --red-100: oklch(0.8 0.2 27);
  --red-200: oklch(0.7 0.22 27);
  --red-300: oklch(0.6 0.23 27);
  --red-400: oklch(0.57 0.25 27);
  --red-500: oklch(0.5 0.23 27);

  --ring: oklch(0.704 0.04 256.788);

  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --card: oklch(1 0 0);
  --popover: oklch(1 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}
